<div src="account/" v-component="form">
    <div class="page-header">
        <h3>账户管理 <small><i class="icon icon-angle-double-right"></i> 用户编辑</small></h3>
        <div class="buttons btn-group">
            <a class="btn btn-default" href="javascript:;" onclick="history.back()" ><i class="icon icon-reply"></i> 返回</a>
        </div>
    </div>
    <div class="page-content scrollable">
        <form class="form-horizontal" role="form">
            <form-control>
                <button class="btn btn-primary" type="submit">提 交</button>
            </form-control>
        </form>
    </div>
</div>
